@charset "UTF-8";
/* CSS Document */

/* centers the top navigation bar */
.nav {
  display: table;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

/* styles the links inside the navigation bar */
.nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none; 
    font-size: 20px; 
	list-style: none;
	font-weight: bold;
	font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
}

/* changes the colour of links on hover */
.nav a:hover {
    color: #FF009E;
}

/* hides the icon that open and closes the navigation bar on smaller screens */
.nav .icon {
    display: none;
}

/* hides all links except the whole link, and displays the icon used for the resonsive navigation when the screen is less than 900 pixels wide */
@media screen and (max-width: 900px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* styles the responsive navigation bar */
@media screen and (max-width: 900px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* centers and aligns the logo on the home page  */
.logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 70px;
}

/* styles the footer */
footer {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	padding-top: 70px;
}

/* Align the copyright content of the footer to the left */
p.copyright {
  float: left;
  padding-left: 20px;
}


/* Align the contact content of the footer to the right */
.contact {
	postion: relative;
	float: right;
	padding-right: 20px;
		
}

/* makes columns fall on top of each other instead of next to each other on screen with a width below 700px */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
	float: left;
	padding: 5px;
  }
}

/* ensures that images will never take up more than 100% of their contained element no matter the size of the device */
img {
	max-width: 100%;
}


/* styles all headers */
h1 {
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	padding-top: 10px;
}

/* styles main header that follows through all pages */
h1.name {
	padding-top: 10px;
	font-size: 50px;
}

/* centers image on about me page */
img.design {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* styles all sub headings */
h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	padding-top: 10px;
}

/* styles sub title icon image */
img.icon {
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-height: 200px;
	max-width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* styles desk research images */
img.desk1 {
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-height: 500px;
	max-width: 500px;
	max-width: 100%;
	
}

/* styles page content */
p.info {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin-left: 60px;
	margin-right: 60px;
}

/* styles each phase heading */

h1.phase {
	padding-top: 50px;
	padding-bottom: 10px;
}

/* styles questionnaire7 image */
img.q1 {
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-height: 800px;
	max-width: 800px;
	max-width: 100%;
}

/* aligns projects next to eachother */
.column1 {
  float: left;
  width: 50%;
  padding-top: 90px;
  padding-bottom: 90px;
}

/* positions the pictures of the items on the pages to the center */
.project {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* clears floats after image containers */
.row1::after {

  content: "";
  clear: both;
  display: table;
}

/* sets size for project images */
img.project {
	max-width: 200px;
	max-hight: 200px;
}

/* style and align links to projects */
a.pl {
	text-align: center;
	display: block;
	margin: 0 auto;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	padding-top: 10px;
	color: black;
	font-size: 20px;
}

/* Makes projects fall on top of each other instead of next to each other on smaller devices with a width less than 700px */
@media screen and (max-width: 700px) {
  .column1 {
    width: 100%;
	padding-bottom: 50px;
  }
}


/* Styles Lists depending on class, all lists centered and have no style, same font family as used for information text */
ul {
	list-style-type: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
}

/* Styles lists with list class to be bold */
ul.list {
	font-weight: bold;
}

/* Styles Workflow list on about me page */
ul.list1 {
	font-weight: bold;
	font-size: 30px;
	padding-right: 20px;
}

